@import url('https://cdn.fontshare.com/wf/QT4CYRMMCSPIHTO635GDUTTAEHGLRQ54/MYVNSUIXZDTIB4UZKPO2L6VG72I633DS/6KQY4JB7EWYXSXKZEY5XPSJRA3OVSO2C.woff2');
@import "./theme";
@import "./props";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}